In [1]:
import pandas as pd

In [2]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head(10)

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0
5     1             0        1       1
6     1             1        0       0
7     1             0        1       1
8     1             1        0       0
9     1             0        1       1

In [3]:
# Renomeando as colunas
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

In [4]:
dados = dados.rename(columns = mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [5]:
x = dados[['principal', 'como_funciona', 'contato']]
# Para ver quem comprou ou não
y = dados[['comprou']]

In [6]:
dados.shape

(99, 4)

In [7]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [8]:
# Treinando o modelo
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracio foi %.2f%%' % acuracia)

A acuracio foi 95.83%

C:\Users\Yuri Freitas\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [25]:
# Separando os dados de treino e teste com a biblioteca
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
# Tirando aleatoriedade para ter o mesmo resultado
SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 74 elementos e testaremos com 25 elementos

In [26]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

C:\Users\Yuri Freitas\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [29]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracio foi %.2f%%' % acuracia)

A acuracio foi 96.00%

In [32]:
treino_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [34]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

In [36]:
# Separando os dados de treino e teste com a biblioteca
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
# Tirando aleatoriedade para ter o mesmo resultado
SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, test_size = 0.25,
#                                                        separar proporcionalmente de acordo com y
                                                        stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 74 elementos e testaremos com 25 elementos

In [37]:
# Proporção dividir 0 = 49 / 1 = 25
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [38]:
# Proporção dividir 0 = 17 / 1 = 8
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64